body{
    width: 960px;
    /*TODO : color, font, sizes, header, footer, etc. */
}

nav{
    /*TODO : color, font, sizes, header, footer, etc. */
}

footer{
    /*TODO : color, font, sizes, header, footer, etc. */
}

.title{ /* COPILOT TO CHANGE*/
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.sub-title{ /* COPILOT TO CHANGE*/
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.text{ /* COPILOT TO CHANGE*/
    font-size: 12px;
    color: #000;
}



/* Path: project-1\css\main.css */

